@model attendence_final.Models.Student

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dept.Dept_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dept.Dept_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attendance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attendance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total_Days)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total_Days)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Stud_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
